<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.as.chain"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="10"
		android:targetSdkVersion="25" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<application
		android:name=".activity.App"
		android:allowBackup="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:theme="@style/activity_theme">
		<activity
			android:name=".activity.UpdateActivity"
			android:screenOrientation="sensorLandscape"
			android:configChanges="keyboardHidden|orientation|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.MainActivity"
			android:screenOrientation="sensorLandscape"
			android:configChanges="keyboardHidden|orientation|screenSize" />

		<activity
			android:name=".activity.HeroActivity"
			android:screenOrientation="sensorLandscape"
			android:configChanges="keyboardHidden|orientation|screenSize" />

		<activity
			android:name=".activity.BattleActivity"
			android:screenOrientation="sensorLandscape"
			android:configChanges="keyboardHidden|orientation|screenSize" />
	</application>

</manifest>
